<h1>My Dashboard</h1>

<p>Hello <%= @user.name %></p>

<%= link_to 'Create a Mentoring Session', new_appointment_path %>
<%= link_to 'Book Mentoring Session', appointments_path %>

<h2>My Appointments</h2>

<ul>
  <% @user.appointments.each do |appointment| %>
    <li>
      <%= appointment.time %> - <%= appointment.language %>
    </li>
  <% end %>
</ul>