<div class="body-content">
  <h1 class="centered">My Dashboard</h1>

  <p>Hello <%= @user.name %></p>

  <div class="book-session-link">
    <%= link_to 'Book a Mentoring Session', appointments_path %>
  </div>
  <div class="create-session-link">
    <%= link_to 'Create a Mentoring Session', new_appointment_path %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="centered">My Appointments</h2>

  <ul class="centered">
    <% @user.appointments.each do |appointment| %>
      <li>
        <%= appointment.time %> - <%= appointment.language %>
      </li>
    <% end %>
  </ul>
</div>