<!DOCTYPE html>
<html>
<head>
  <title>MentorMeet</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <nav id="navbar">
    <ul>
      <li><a href="#how_this_works">HOW IT WORKS</a></li>
      <li><a href="#mentor">MENTORS</a></li>
      <li><a href="#mentoree">STUDENTS</a></li>
      <li><a href="/">MENTORMEET</a></li>
      <li><a href="#">TESTIMONIALS</a></li>
      <li><a href="#about_us">ABOUT US</a></li>
      <li id="login">
        <a href="/auth/github">
          <%= image_tag 'Github-button.png', alt: 'Sign in with GitHub' %>
        </a>
      </li>
    </ul>
  </nav>
</header>

<%= flash[:notice] %>

<%= yield %>

</body>
</html>