<!DOCTYPE html>
<html>
<head>
  <title>MentorMeet</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <nav id="navbar">
    <ul>
      <li><a href="#how_this_works">HOW IT WORKS</a></li>
      <li><a href="#mentor">MENTOR</a></li>
      <li><a href="#mentee">STUDENT</a></li>
      <li><a href="/">MENTORMEET</a></li>
      <li><a href="#about_us">ABOUT US</a></li>
      <% if current_user %>
        <li>
          <%= link_to "Hello #{current_user.name}", user_path(current_user), class: 'colored' %>
        </li>
        <li>
          <%= link_to "Logout", signout_path, class: 'colored' %>
        </li>
      <% else %>
        <li id="login">
          <a href="/auth/github" class="colored">
            <%= image_tag 'Github-button.png', alt: 'Sign in with GitHub' %>
          </a>
        </li>
      <% end %>

    </ul>
  </nav>
</header>

<div class="flash">
  <%= flash[:notice] %>
</div>

<%= yield %>

</body>
</html>